configuration {
  font: "JetBrainsMono Nerd Font 12";
  show-icons: true;
  modi: "drun,run,ssh,window";
  location: 0;
  fullscreen: false;
  rows: 5;
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
